/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:49
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-03 21:57:33
**************************************************************/

div.student.view {

	div.picture {
		display: inline-block;
		width: 160px;
		height: 190px;
		background-size : 100% 100%;
		background-repeat: no-repeat;
		background-color : rgba($primary_color, 0.8);
	}

	div.nameProfile {
		display: inline-block;
		vertical-align: top;
		margin-left : 20px;
		color: rgba($primary_color, 0.7);
		font-size: 26px;
		font-weight: bold;
	}
}